<ul id="breadcrumbs">
	<li><%= link_to 'Dashboard', root_path, :title => "Dashboard" %></li>
	<li><%= link_to t('trials.breadcumbs.tests'), trials_path %></li>
	<li><%= t('trials.breadcumbs.tests_lists') %></li>
</ul>

<!-- Article Full Content Block - Test table -->
<article class="third-quarter-block clearfix">
	<div class="article-container">
		
		<header>
			<h2><%= t('.header') %></h2>
			<nav>
				<ul class="button-switch">
					<li><%= link_to 'Imprimir PDF', trials_path(format: "pdf"), :class => 'button' %></li>
					<li><%= link_to 'Añadir test', new_trial_path, :class => 'button' %></li>
				</ul>
			</nav>
		</header>
		
		<section>
			<%= render "layouts/dateFilter" %>
			<table class="datatable_datefilter_sort">
			  <thead>
			  	<tr>
				    <th><%= t('.table_date') %></th>
				    <th><%= t('.table_title') %></th>
				    <th><%= t('.table_type') %></th>
				    <th><%= t('.table_action') %></th>
				  </tr>
			  </thead>

				<tbody>
					<%= render :partial => "trial", :collection => @trials %>
				</tbody>
			</table>
		</section>
				
	</div>
</article>
<!-- \Article Full Content Block -->

<!-- Trial Information -->
<article class="quarter-block nested clearrm">
	<div class="article-container">
		<header><h2><%= t('.header_information') %></h2></header>
		<section>
			<p><%= t('.trials_text') %></p>
			<ul class="list-style-checkmark">
				<% @trial_categories.each do |cat| %>
					<li><strong rel="tooltip" title="<%= cat.description %>"><%= cat.name %></strong></li>
				<% end %>
			</ul>
				
		</section>
	</div>
</article>
<!-- \Trial Information -->

<br />

<!-- Article Full Content Block - Calendar and statistics -->
<article class="full-block clearfix">
	<div class="article-container">
		
		<header><h2><%= t('.header_calendar_stats') %></h2></header>
		
		<section>
			<div class="sidetabs">
				<nav class="sidetab-switch">
					<ul>
						<li><%= link_to t('.tabs.calendar'), '#sidetab1b', :class => "default-sidetab" %></li>
					</ul>
				</nav>
				
				<!-- jquery Full Calendar Sidetab Content -->
				<div class="sidetab default-sidetab" id="sidetab1b">
					<h3><%= t('.header_test_calendar') %></h3>
					
					<!-- jQuery Full Calendar Plugin -->
					<div class="fullcalendar"></div>
					<!-- /jQuery Full Calendar Plugin -->
					<% content_for :fullcalendar_script do %>
						<script type="text/javascript">
							//jQuery Full Calendar
							//var date = new Date(); // date must be with this format: '2010-10-02'
							//var d = date.getDate();
							//var m = date.getMonth();
							//var y = date.getFullYear();

							$('.fullcalendar').fullCalendar({
								header: {
									left: 'prev,next today',
									center: 'title',
									right: 'month'
								},
								editable: true,
								firstDay: 1,
								events: [
									<% @trials.each do |trial| %>
										{
											title: '<%= trial.title + " " + "(#{trial.trial_category.name})" %>',
											start: '<%= trial.date_trial.strftime("%Y/%m/%d") %>',
											allDay: true, 
											url: '<%= trial_path(trial) %>',
											color: '<%= trial.trial_category.color_hex %>'
										},
									<% end %>
								]
							});

							// DateFilter 
							require("/javascripts/dateFilter_dataTable.js");
		
							// Params: table_selector, min_selector, max_selector, column_sort, type_sort
							dateFilter_dataTable(".datatable_datefilter_sort", "#fmin", "#fmax",
													0, "desc")
						</script>
					<% end %>					
				</div>
				<!-- \jquery Full Calendar Sidetab Content -->
				
			</div>
		</section>
	</div>
</article>
<!-- \Article Full Content Block - Calendar and statistics -->