<section id="widgets-container">
	
	<!-- /Widget Box -->
	<div class="widget text-only" id="text-widget">
		<a href="#" class="close-widget" title="Hide Widget" rel="tooltip">x</a>
		<p><strong><%= link_to 'Nadador', new_swimmer_path %></strong>Añadir nadador</p>
	</div>
	<!-- /Widget Box -->

	<!-- /Widget Box -->
	<div class="widget text-only" id="text-widget">
		<a href="#" class="close-widget" title="Hide Widget" rel="tooltip">x</a>
		<p><strong><%= link_to 'Entrenamiento', new_trainning_path %></strong>Añadir entrenamiento</p>
	</div>
	<!-- /Widget Box -->

	<!-- /Widget Box -->
	<div class="widget text-only" id="text-widget">
		<a href="#" class="close-widget" title="Hide Widget" rel="tooltip">x</a>
		<p><strong><%= link_to 'Competición', new_competition_path %></strong>Añadir competición</p>
	</div>
	<!-- /Widget Box -->

	<!-- /Widget Box -->
	<div class="widget text-only" id="text-widget">
		<a href="#" class="close-widget" title="Hide Widget" rel="tooltip">x</a>
		<p><strong><%= link_to 'Test', new_trial_path %></strong>Añadir test</p>
	</div>
	<!-- /Widget Box -->
	
	<!-- /Widget Box -->
	<div class="widget text-only" id="text-widget">
		<a href="#" class="close-widget" title="Hide Widget" rel="tooltip">x</a>
		<p><strong><%= link_to 'Diario', new_incident_path %></strong>Añadir registro</p>
	</div>
	<!-- /Widget Box -->
	
</section>