<section id="widgets-container">
	
	<!-- /Widget Box -->
	<div class="widget text-only" id="text-widget">
		<a href="#" class="close-widget" title="Ocultar Widget" rel="tooltip">x</a>
		<p><strong><%= link_to t('widgets.swimmer'), new_swimmer_path %></strong><%= t('widgets.add_swimmer') %></p>
	</div>
	<!-- /Widget Box -->

	<!-- /Widget Box -->
	<div class="widget text-only" id="text-widget">
		<a href="#" class="close-widget" title="Ocultar Widget" rel="tooltip">x</a>
		<p><strong><%= link_to t('widgets.training'), new_trainning_path %></strong><%= t('widgets.add_training') %></p>
	</div>
	<!-- /Widget Box -->

	<!-- /Widget Box -->
	<div class="widget text-only" id="text-widget">
		<a href="#" class="close-widget" title="Ocultar Widget" rel="tooltip">x</a>
		<p><strong><%= link_to t('widgets.competition'), new_competition_path %></strong><%= t('widgets.add_competition') %></p>
	</div>
	<!-- /Widget Box -->

	<!-- /Widget Box -->
	<div class="widget text-only" id="text-widget">
		<a href="#" class="close-widget" title="Ocultar Widget" rel="tooltip">x</a>
		<p><strong><%= link_to t('widgets.test'), new_trial_path %></strong><%= t('widgets.add_trial') %></p>
	</div>
	<!-- /Widget Box -->
	
	<!-- /Widget Box -->
	<div class="widget text-only" id="text-widget">
		<a href="#" class="close-widget" title="Ocultar Widget" rel="tooltip">x</a>
		<p><strong><%= link_to t('widgets.diary'), new_incident_path %></strong><%= t('widgets.add_incident') %></p>
	</div>
	<!-- /Widget Box -->
	
</section>