<%= form_for(@trial) do |f| %>
  <% if @trial.errors.any? %>
    <div id="error_explanation">
			<a href="#" class="close-notification" title="Cerrar notificación" rel="tooltip">x</a>
      <h2><%= t('activerecord.errors.template.header', :model => Trial.model_name.human, :count => @trial.errors.count) %></h2>

      <ul>
      <% @trial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset>
		<legend>Datos del test</legend>
		
		<dl>
			<dt><%= f.label :title, "#{Trial.human_attribute_name(:title)}*", :rel => "tooltip", :title => "Campo requerido" %></dt>
			<dd><%= f.text_field :title, :class => "medium" %></dd>
			
			<dt><%= f.label :date_trial, "#{Trial.human_attribute_name(:date_trial)}*", :rel => "tooltip", :title => "Campo requerido" %></dt>
			<dd>
				<% if params[:action]=="edit" %>
					<%= f.text_field :date_trial, :value => @trial.date_trial.strftime("%d/%m/%Y"), :class => "datepicker" %>
				<% else %>
					<%= f.text_field :date_trial, :class => "datepicker" %>
				<% end %>
			</dd>
			
			<dt><%= f.label :trial_category_id, "#{Trial.human_attribute_name(:trial_category_id)}*", :rel => "tooltip", :title => "Campo requerido" %></dt>
			<dd>
				<% #= f.select :trial_category_id, options_from_collection_for_select(@trial_categories, "id", "name"), :class => "small" %>
				<select name="trial[trial_category_id]" id="trial_trial_category_id">
					<% @trial_categories.each do |category| %>
						<option <%= "selected" if f.object.trial_category_id == category.id %> data-value="<%= category.type_value %>" value="<%= category.id %>"><%= category.name %></option>
					<% end %>
				</select>				
			</dd>
		</dl>
	</fieldset>
	
	<% content_for :fullcalendar_script do %>
		<script type="text/javascript">
				// código javascript para controlar data-value
		</script>
	<% end %>
	
	<!-- Trial_Results Block -->
	<div class="trial_result"><%= render 'trial_results_fieldset', :f => f %></div>
	<!-- \Trial_Results Block -->
	
	<div align="center"><%= f.submit 'Enviar', :class => "button" %> ó <%= link_to 'Cancelar', :back %></div>
	
<% end %>
