<%= form_for(@trial) do |f| %>
  <% if @trial.errors.any? %>
    <div id="error_explanation">
			<a href="#" class="close-notification" title="Cerrar notificación" rel="tooltip">x</a>
      <h2><%= pluralize(@trial.errors.count, "error") %> prohibited this trial from being saved:</h2>

      <ul>
      <% @trial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset>
		<legend>Datos del test</legend>
		
		<dl>
			<dt><%= f.label :title, "Título" %></dt>
			<dd><%= f.text_field :title, :class => "medium" %></dd>
			
			<dt><%= f.label :date_trial, "Fecha" %></dt>
			<dd><%= f.text_field :date_trial, :class => "datepicker" %></dd>
			
			<dt><%= f.label :trial_category_id, "Categoría" %></dt>
			<dd>
				<% if params[:action] == "edit" %>
					<%= f.select :trial_category_id, options_from_collection_for_select(@trial_categories, "id", "name"), :class => "small"%>
				<% else %>
					<%= f.select :trial_category_id, options_from_collection_for_select(@trial_categories, "id", "name"), :include_blank => true, :class => "small"%>
				<% end %>				
			</dd>
		</dl>
	</fieldset>
	
	<div align="center"><%= f.submit 'Enviar', :class => "button" %> ó <%= link_to 'Cancelar', :back %></div>
	
<% end %>
