<ul id="breadcrumbs">
	<li><%= link_to 'Dashboard', root_path, :title => "Dashboard" %></li>
	<li><%= link_to 'Tests preparatorios', trials_path %></li>
	<li><%= link_to "Id #{@trial.id}", @trial %></li>
	<li>Modificar test preparatorio</li>
</ul>

<article class="full-block clearfix">
	<div class="article-container">
		<% content_for :fullcalendar_script do %>
			<script type="text/javascript">
				$(document).ready(function(){
					$("#trial_trial_category_id").change(function(){
						var str = "";
						$('option:selected').each(function(){
							str += $(this).text() + " ";
						});
						$(".hola_amigo").text(str);
					});
				});
			</script>
		<% end %>
		
		<header>
			<h2>Modificar test preparatorio - <%= @trial.title %></h2>
			<nav>
				<ul class="button-switch">
					<li><%= link_to 'Eliminar', trial_path(@trial), :confirm => '¿Está seguro de que desea eliminar el test?', :method => :delete, :class => "button gray" %></li>
					<li><%= link_to 'Mostrar test', trial_path(@trial), :class => "button" %></li>
				</ul>
			</nav>
		</header>
		
		<section>
			<%= render 'form' %>
		</section>		
		
	</div>
</article>