<ul id="breadcrumbs">
	<li><%= link_to 'Dashboard', root_path, :title => "Dashboard" %></li>
	<li><%= link_to t('trials.breadcumbs.tests'), trials_path %></li>
	<li>Id <%= @trial.id %></li>
</ul>

<!-- Test Information Block -->
<article class="second-third-block">
	<div class="article-container">
		
		<header>
			<h2><%= @trial.title %></h2>
			<nav>
				<ul class="button-switch">
					<li><%= link_to 'Eliminar', trial_path(@trial), :confirm => '¿Está seguro de que desea eliminar el test?', :method => :delete, :class => "button gray" %></li>
					<li><%= link_to 'Editar', edit_trial_path(@trial), :class => "button" %></li>
				</ul>
			</nav>
		</header>
		
		<section>
			<form>
				<fieldset>
					<legend><%= t('.header_test_information') %></legend>
					
					<dl>
						<dt><%= label :date_trial, "#{Trial.human_attribute_name(:date_trial)} del test" %></dt>
						<dd class="text"><%= @trial.date_trial.strftime("%d/%m/%Y") %></dd>
						<dt><%= label :trial_category_id, "#{Trial.human_attribute_name(:trial_category_id)}" %></dt>
						<dd class="text">
							<td>
								<span class="tag tag2 tag_show <%= @trial.trial_category.color %>">
									<%= @trial.trial_category.name %>
								</span>
							</td>
						</dd>
					</dl>
				</fieldset>
			</form>
		</section>
		
	</div>
</article>

<!-- Tests Basic Statistics Block -->
<article class="third-block">
	<div class="article-container">
		<header>
			<h2><%= t('.header_stats') %></h2>
			<nav>
				<ul class="button-switch">
					<li><%= link_to 'Añadir Test', new_trial_path, :class => "button" %></li>
				</ul>
			</nav>
		</header>
		<section>
			<ul class="stats-summary">
				<li>
					<strong class="stats-count"><%= @trial.trial_results.size %></strong>
					<p><%= t('.total_results_added') %></p>
				</li>
				
				<li>
					<strong class="stats-count">
						<%= @trial.trial_results.joins(:swimmer).merge(Swimmer.male).map(&:swimmer_id).uniq.size %>
					</strong>
					<p><%= t('.masc_swimmers') %></p>
				</li>
				
				<li>
					<strong class="stats-count">
						<%= @trial.trial_results.joins(:swimmer).merge(Swimmer.female).map(&:swimmer_id).uniq.size %>
					</strong>
					<p><%= t('.fem_swimmers') %></p>
				</li>
				
			</ul>
		</section>
	</div>
</article>
<!-- \Tests Basic Statistics Block -->

<div class="clearfix"></div>

<!-- Results Block -->
<article class="full-block">
	<div class="article-container">
		<header>
			<h2><%= t('.header_swimmer_results') %></h2>
		</header>
		
		<section>
			<table class="dt_swimmer_results">
			  <thead>
			  	<tr>
				    <th><%= t('.table_swimmer') %></th>
				    <th><%= t('.table_type_test') %></th>
				    <th><%= t('.table_value') %></th>
				    <th><%= t('.table_observation') %></th>
				  </tr>
			  </thead>

				<tbody>
					<!-- Trial Results -->
					<% if %>
						<% @trial.trial_results.each do |res| %>
							<tr>
								<td><%= link_to res.swimmer.swimmer_secname_name, swimmer_path(res.swimmer)+'#tab2' %></td>
								<td><%= @trial.trial_category.name %></td>
								<td><%= "#{res.trial_value} #{@trial.trial_category.type_value}" %></td>
								<td><%= res.observation.blank? ? "Sin observaciones" : res.observation %></td>
							</tr>
						<% end %>
					<% end %>
					<!-- \Trial Results -->
				</tbody>			
			</table>
		</section>
	</div>
</article>
<!-- \Results Block -->

<%= link_to 'Ir Atrás', trials_path, :class => "button right" %>
<br />