<ul class="login-links">
	<%- if controller_name != 'sessions' %>
	  <li><%= link_to "Acceder", new_session_path(resource_name) %></li>
	<% end -%>

	<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
	  <li><%= link_to "Registrarse", new_registration_path(resource_name) %></li>
	<% end -%>

	<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
	  <li><%= link_to "Recordar contraseña", new_password_path(resource_name) %></li>
	<% end -%>

	<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
	  <li><%= link_to "¿No has recibido las instrucciones de confirmación de cuenta?", new_confirmation_path(resource_name) %></li>
	<% end -%>

	<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
	  <li><%= link_to "¿No has recibido las instrucciones de desbloqueo de cuenta?", new_unlock_path(resource_name) %></li>
	<% end -%>

	<%- if devise_mapping.omniauthable? %>
	  <%- resource_class.omniauth_providers.each do |provider| %>
	    <li><%= link_to "Acceder con #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %></li>
	  <% end -%>
	<% end -%>
	<li><%= link_to 'Ir a Página Principal', root_path %></li>
</ul>