<%= form_for(@incident) do |f| %>
  <% if @incident.errors.any? %>
    <div id="error_explanation">
			<a href="#" class="close-notification" title="Cerrar notificación" rel="tooltip">x</a>
      <h2><%= pluralize(@incident.errors.count, "error") %> prohibited this incident from being saved:</h2>

      <ul>
      <% @incident.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset>
		<legend><%= t('incidents.form.legend') %></legend>
		<dl>
			<dt><%= f.label :title, "Título*", :title => "Campo requerido", :rel => "tooltip" %></dt>
			<dd><%= f.text_field :title, :class => "medium" %></dd>
			
			<dt><%= f.label :date_incident, "Fecha*", :title => "Campo requerido", :rel => "tooltip" %></dt>
			
			<dd>
				<% if params[:action]=="edit" %>
					<%= f.text_field :date_incident, :value => @incident.date_incident.strftime("%d/%m/%Y"), :class => "datepicker" %>
				<% else %>
					<%= f.text_field :date_incident, :class => "datepicker" %>
				<% end %>
			</dd>
			
			<dt><%= f.label :tags, "Etiquetas", :title => t('incidents.form.tag_tooltip'), :rel => "tooltip" %></dt>
			<dd><%= f.text_field :tag_list, :class => "medium" %><p><%= t('incidents.form.tag_text') %></p></dd>
			<dt><%= f.label :description %></dt>
			<dd><%= f.text_area :description, :class => "wysiwyg medium" %></dd>
		</dl>
	</fieldset>
	
  <div align="center"><%= f.submit 'Enviar', :class => "button" %> ó <%= link_to 'Cancelar', :back %></div>
	
<% end %>
