<li class="event">
	<span class="logs-timestamp"><%= incident.date_incident.strftime("%A, %d %B %Y") %></span>
	<h4><%= link_to "#{incident.title}", edit_incident_path(incident), :class => "logs-event" %></h4>
	<div><%=raw incident.description %></div>
	<hr>
	<em class="logs-meta">
		Etiquetas 
		<%= link_to "Etiqueta 1", '#' %>,
		<%= link_to "Etiqueta 2", '#' %>
	</em>
</li>
