<ul id="breadcrumbs">
	<li><%= link_to 'Dashboard', root_path, :title => "Dashboard" %></li>
	<li><%= link_to 'Diario de incidencias', incidents_path %></li>
	<li>Ver lista de incidencias</li>
</ul>

<!-- Article Full Block - Incidences table -->
<article class="full-block clearfix">
	<div class="article-container">
		
		<article class="third-quarter-block">
			<header>
				<h2>Gestión del diario de incidencias</h2>
				<nav>
					<ul class="button-switch">
						<li><%= link_to 'Imprimir PDF', incidents_path(format: "pdf"), :class => 'button' %></li>
						<li><%= link_to 'Añadir incidencia', new_incident_path, :class => 'button' %></li>
					</ul>
				</nav>
			</header>

			<section>
				<div align="right" id="incidents_find_bar">
					<%= form_tag incidents_path, :method => 'get', :class => "incidents_form", :id => "incidents_search", :remote => true do %>
						<%= label_tag "Buscar:" %>
						<%= text_field_tag :search, params[:search], :id => "filter", :class => "medium", :placeholder => "Inserte su criterio de búsqueda" %>
					<% end %>
				</div>
				
				<% if params[:tag].present? %>
					<div>Incidencias filtradas por: <b><%= params[:tag] %></b> <%= link_to "(eliminar filtro)", incidents_path %></div>
				<% end %>
				<ul class="logs" id="incident_logs">					
					<div id="incident_partial"><%= render :partial => "incident", :collection => @incidents %></div>
				</ul>
				<%= will_paginate @incidents, :class => "custom_pagination"%>
			</section>
		</article>
	
		<article class="quarter-block clearrm nested">
			<header><h2>Etiquetas</h2></header>
			<section>
				<p>Se listan las etiquetas asociadas a los registros del diario de incidencias del entrenador. Haciendo clic en cada una de ellas puede acceder directamente a las incidencias por categorías.</p>
				<ul class="list-style">
					<% @tags.each do |tag| %>
					<li><%= link_to tag.name, incidents_path(:tag => tag.name) %></li>
					<% end %>
				</ul>
			</section>
		</article>		
		
	</div>
</article>
<!-- \Article Full Block - Incidences table -->