<tr class="fields">
	<td><%= link_to_remove_fields "X", f %></td>
	<td><%= f.text_field :swimmer_id %></td>
	<td><%= f.text_field :competition_set_id  %></td>
	<td><%= f.text_field :time_result %></td>
	<td><%= f.text_field :disqualify %></td>
	<td><%= f.text_field :observation %></td>
</tr>