<%= form_for(@competition) do |f| %>
  <% if @competition.errors.any? %>
    <div id="error_explanation">
			<a href="#" class="close-notification" title="Cerrar notificación" rel="tooltip">x</a>
      <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% @competition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset>
		<legend>Datos de competición</legend>
		<dl>
			<dt><%= f.label :title, "Título" %></dt>
			<dd><%= f.text_field :title, :class => 'medium' %></dd>

			<dt><%= f.label :place, "Lugar" %></dt>
			<dd> <%= f.text_field :place, :class => 'medium' %></dd>

			<dt><%= f.label :date_competition, "Fecha" %></dt>
			<dd><%= f.text_field :date_competition, :class => 'datepicker small' %></dd>
			
			<!-- Chrono_Type Field -->
			<dt><%= f.label :chrono_type, "Tipo de Cronómetro" %></dt>
			<dd>
				<% if params[:action] == "edit" %>
					<%= f.select :chrono_type, "<option #{@competition.chrono_type == "Manual" ? "selected='selected' " : ""} value='Manual'>Manual</option><option #{@competition.chrono_type == "Electrónico" ? "selected='selected' " : ""} value='Electrónico'>Electrónico</option>".html_safe  %>
				<% else %>
					<%= f.select :chrono_type, "<option value='Manual'>Manual</option><option value='Electrónico'>Electrónico</option>".html_safe, :include_blank => true  %>
				<% end %>				
			</dd>
			<!-- \Chrono_Type Field -->

			<!-- Pool_Dist Field -->
			<dt><%= f.label :pool_dist, "Tipo de Piscina" %></dt>
			<dd>
				<% if params[:action] == "edit" %>
					<%= f.select :pool_dist, "<option #{@competition.pool_dist == "25m" ? "selected='selected' " : ""} value='25m'>25m</option><option #{@competition.pool_dist == "50m" ? "selected='selected' " : ""} value='50m'>50m</option>".html_safe  %>
				<% else %>
					<%= f.select :pool_dist, "<option value='25m'>25m</option><option value='50m'>50m</option>".html_safe, :include_blank => true  %>
				<% end %>				
			</dd>
			<!-- \Pool_Dist Field -->
			
			<!-- Category Field -->
			<dt><%= f.label :category, "Categoría" %></dt>
			<dd>
				<% if params[:action] == "edit" %>
					<%= f.select :category, options_from_collection_for_select(@categories, "name", "name"), :class => "small"%>
				<% else %>
					<%= f.select :category, options_from_collection_for_select(@categories, "name", "name"), :include_blank => true, :class => "small"%>
				<% end %>	
			</dd>
			<!-- \Category Field -->
			
		</dl>
		
	</fieldset>
	
	<!-- Competition Results Block -->
	<fieldset>
		<legend>Resultados de competición</legend>
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Nadador</th>
					<th>Prueba</th>
					<th>Tiempo</th>
					<th>Descalificado</th>
					<th>Observaciones</th>
				</tr>
			</thead>
			
			<tbody>
				<%= f.fields_for :competition_results do |builder| %>
					<%= render 'competition_result_fields', :f => builder %>
				<% end %>				
			</tbody>
			
			<tfoot>
				<tr>
					<td colspan="6"><p class="hola"><%= link_to_add_fields "Add Question", f, :competition_results %></p></td>
				</tr>
			</tfoot>
		</table>
		<br />
	</fieldset>
	<!-- \Competition Results Block -->
	<div align="center"><%= f.submit 'Enviar', :class => "button" %> ó <%= link_to 'Cancelar', :back %></div>
	

<% end %>
