<ul id="breadcrumbs">
	<li><%= link_to 'Dashboard', root_path, :title => "Dashboard" %></li>
	<li><%= link_to 'Competiciones', competitions_path %></li>
	<li>Ver lista de competiciones</li>
</ul>

<!-- Article Full Content Block -->
<article class="full-block clearfix">
	<div class="article-container">
		
		<header>
			<h2>Gestión de Competiciones</h2>
			<nav>
				<ul class="button-switch">
					<li><%= link_to 'Añadir competición', new_competition_path, :class => "button" %></li>
				</ul>
			</nav>
		</header>
		
		<section>
			<table class="datatable">
			  <thead>
			  	<tr>
				    <th>Fecha</th>
				    <th>Título</th>
				    <th>Lugar</th>
				    <th>Categoría</th>
				    <th>Acción</th>
				  </tr>
			  </thead>

				<tbody>
					<%= render :partial => "competition", :collection => @competitions %>
				</tbody>			
			</table>
		</section>
	

	</div>
</article>
<!-- \Article Full Content Block -->

<!-- Article Full Content Block 2 -->
<article class="full-block clearfix">
	<div class="article-container">
		
		<header>
			<h2>Calendario y estadísticas</h2>
		</header>
		
		<section>
			<div class="sidetabs">
				
				<nav class="sidetab-switch">
					<ul>
						<li><%= link_to 'Calendario', '#sidetab1', :class => "default-sidetab" %></li>
						<li><%= link_to 'Estadísticas básicas', '#sidetab2'  %></li>
					</ul>
				</nav>
				
				<!-- jquery Full Calendar Sidetab Content -->
				<div class="sidetab default-sidetab" id="sidetab1">
					<h3>Calendario de competiciones</h3>
					
					<!-- jQuery Full Calendar Plugin -->
					<div class="fullcalendar"></div>
					<!-- /jQuery Full Calendar Plugin -->
					<% content_for :fullcalendar_script do %>
						<script type="text/javascript">
							//jQuery Full Calendar
							//var date = new Date(); // date must be with this format: '2010-10-02'
							//var d = date.getDate();
							//var m = date.getMonth();
							//var y = date.getFullYear();

							$('.fullcalendar').fullCalendar({
								header: {
									left: 'prev,next today',
									center: 'title',
									right: 'month,basicWeek,basicDay'
								},
								editable: true,
								firstDay: 1,
								events: [
									<% @competitions.each do |competition| %>
										{
											title: '<%= competition.title %>',
											start: '<%= competition.date_competition.strftime("%Y/%m/%d") %>',
											allDay: true, 
											url: '<%= competition_path(competition) %>'
										},
									<% end %>
								]
							});
						</script>
					<% end %>
					
					
				</div>
				<!-- \jquery Full Calendar Sidetab Content -->
				
				<!-- Competition Statistics Sidetab Content -->
				<div class="sidetab" id="sidetab2">
					
				</div>
				<!-- \Competition Statistics Sidetab Content -->
			
			</div>
		</section>
		
	</div>
</article>
<!-- \Article Full Content Block 2 -->