<ul id="breadcrumbs">
	<li><%= link_to 'Dashboard', root_path, :title => "Dashboard" %></li>
	<li><%= link_to 'Competiciones', competitions_path %></li>
	<li>Id <%= @competition.id %></li>
</ul>

<!-- Competition's Information Block -->
<article class="second-third-block">
	<div class="article-container">
	
		<header>
			<h2><%= @competition.title %></h2>
			<nav>
				<ul class="button-switch">
					<li><%= link_to 'Eliminar', competition_path(@competition), :confirm => '¿Está seguro de que desea eliminar la competición?', :method => :delete, :class => "button gray" %></li>
					<li><%= link_to 'Editar', edit_competition_path(@competition), :class => "button" %></li>					
				</ul>
			</nav>
		</header>
		
		<section>
			<form>
				<fieldset>
					<legend>Datos del evento</legend>

					<dl>
						<dt><%= label :competition_place, "Lugar" %></dt>
						<dd class="text"><%= @competition.place %></dd>
						<dt><%= label :competition_date, "Fecha de competición" %></dt>
						<dd class="text"><%= @competition.date_competition.strftime("%d/%m/%Y") %></dd>
						<dt><%= label :competition_pool_dist, "Tipo de Piscina" %></dt>
						<dd class="text">De <%= @competition.pool_dist %></dd>
						<dt><%= label :competition_chrono_type, "Tipo de Cronómetro" %></dt>
						<dd class="text"><%= @competition.chrono_type %></dd>
						<dt><%= label :competition_category, "Categoría" %></dt>
						<dd class="text"><%= @competition.category %></dd>
					</dl>
				</fieldset>
			</form>
		</section>
		
	</div>
</article>
<!-- \Competition's Information Block -->

<!-- Competition's Basic Statistics Block -->
<article class="third-block">
	<div class="article-container">
		<header>
			<h2>Estadísticas</h2>
			<nav>
				<ul class="button-switch">
					<li><%= link_to 'Añadir Competición', new_competition_path, :class => "button" %></li>
				</ul>
			</nav>
		</header>
		<section>
			<ul class="stats-summary">
				<li>
					<strong class="stats-count"><%= @competition.competition_results.size %></strong>
					<p>Total resultados añadidos</p>
				</li>
				
				<li>
					<strong class="stats-count">
						<%= @competition.competition_results.map(&:swimmer_id).uniq.size %>
					</strong>
					<p>Total nadadores participantes</p>
				</li>
				
				<li>
					<strong class="stats-count">
						<%= @competition.competition_results.joins(:swimmer).merge(Swimmer.male).map(&:swimmer_id).uniq.size %>
					</strong>
					<p>Participantes masculinos</p>
				</li>
				
				<li>
					<strong class="stats-count">
						<%= @competition.competition_results.joins(:swimmer).merge(Swimmer.female).map(&:swimmer_id).uniq.size %>
					</strong>
					<p>Participantes femeninos</p>
				</li>
				
				<li>
					<strong class="stats-count"><%= @competition.competition_results.where(:disqualify => "Descalificado").size %></strong>
					<p>Descalificaciones</p>
				</li>
			</ul>
		</section>
	</div>
</article>
<!-- \Competition's Basic Statistics Block -->

<div class="clearfix"></div>

<!-- Results Block -->
<article class="full-block">
	<div class="article-container">
		<header>
			<h2>Resultados de Nadadores</h2>
		</header>
		
		<section>
			<table class="datatable">
			  <thead>
			  	<tr>
				    <th>Nadador</th>
				    <th>Prueba</th>
				    <th>Tiempo</th>
				    <th>Observación</th>
				  </tr>
			  </thead>

				<tbody>
					<!-- Competition results tr -->
					<% if @competition.competition_results.size > 0 %>					
						<% @competition.competition_results.each do |res| %>
							<tr>
								<td><%= res.swimmer.name + ' ' + res.swimmer.secname %></td>
								<td><%= res.competition_set.name %></td>
								<td><%= res.time_result %></td>
								<td><%= res.disqualify.eql?("Descalificado") ? "Descalificado" : res.observation %></td>
							</tr>
						<% end %>							
					<% end %>
					<!-- \Competition results tr -->
				</tbody>			
			</table>
		</section>
	</div>
</article>
<!-- \Results Block -->
<%= link_to 'Ir Atrás', competitions_path, :class => "button right" %>
<br />
