<ul id="breadcrumbs">
	<li><%= link_to 'Dashboard', root_path, :title => "Dashboard" %></li>
	<li><%= link_to t('competitions.breadcumbs.competitions'), competitions_path %></li>
	<li>Id <%= @competition.id %></li>
</ul>

<!-- Competition's Information Block -->
<article class="second-third-block">
	<div class="article-container">
	
		<header>
			<h2><%= @competition.title %></h2>
			<nav>
				<ul class="button-switch">
					<li><%= link_to 'Imprimir PDF', competition_path(@competition, format: "pdf"), :class => "button" %></li>
					<li><%= link_to 'Eliminar', competition_path(@competition), :confirm => '¿Está seguro de que desea eliminar la competición?', :method => :delete, :class => "button gray" %></li>
					<li><%= link_to 'Editar', edit_competition_path(@competition), :class => "button" %></li>					
				</ul>
			</nav>
		</header>
		
		<section>
			<form>
				<fieldset>
					<legend><%= t('.event_information') %></legend>

					<dl>
						<dt><%= label :competition_place, Competition.human_attribute_name(:place) %></dt>
						<dd class="text"><%= @competition.place %></dd>
						<dt><%= label :competition_date, "Fecha de competición" %></dt>
						<dd class="text"><%= @competition.date_competition.strftime("%d/%m/%Y") %></dd>
						<dt><%= label :competition_pool_dist, Competition.human_attribute_name(:pool_dist) %></dt>
						<dd class="text">De <%= @competition.pool_dist %></dd>
						<dt><%= label :competition_chrono_type, Competition.human_attribute_name(:chrono_type) %></dt>
						<dd class="text"><%= @competition.chrono_type %></dd>
						<dt><%= label :competition_category, Competition.human_attribute_name(:category) %></dt>
						<dd class="text">
							<span class="tag tag2 tag_show <%= Category.where('name like ?', @competition.category).map(&:color)[0] %>">
								<%= @competition.category %>
							</span>
						</dd>
					</dl>
				</fieldset>
			</form>
		</section>
		
	</div>
</article>
<!-- \Competition's Information Block -->

<!-- Competition's Basic Statistics Block -->
<article class="third-block">
	<div class="article-container">
		<header>
			<h2><%= t('.header_stats') %></h2>
			<nav>
				<ul class="button-switch">
					<li><%= link_to 'Añadir Competición', new_competition_path, :class => "button" %></li>
				</ul>
			</nav>
		</header>
		<section>
			<ul class="stats-summary">
				<li>
					<strong class="stats-count"><%= @competition_results.size %></strong>
					<p><%= t('.total_results_added') %></p>
				</li>
				
				<li>
					<strong class="stats-count">
						<%= @competition_results.map(&:swimmer_id).uniq.size %>
					</strong>
					<p><%= t('.total_swimmers_in') %></p>
				</li>
				
				<li>
					<strong class="stats-count">
						<%= @competition_results.joins(:swimmer).merge(Swimmer.male).map(&:swimmer_id).uniq.size %>
					</strong>
					<p><%= t('.masc_swimmers') %></p>
				</li>
				
				<li>
					<strong class="stats-count">
						<%= @competition_results.joins(:swimmer).merge(Swimmer.female).map(&:swimmer_id).uniq.size %>
					</strong>
					<p><%= t('.fem_swimmers') %></p>
				</li>
				
				<li>
					<strong class="stats-count"><%= @competition_results.disqualified.size %></strong>
					<p><%= t('.disqualifieds') %></p>
				</li>
			</ul>
		</section>
	</div>
</article>
<!-- \Competition's Basic Statistics Block -->

<div class="clearfix"></div>

<!-- Results Block -->
<article class="full-block">
	<div class="article-container">
		<header>
			<h2><%= t('.header_swimmers_results') %></h2>
		</header>
		
		<section>
			<table class="dt_swimmer_results">
			  <thead>
			  	<tr>
				    <th><%= t('.table_swimmer') %></th>
				    <th><%= t('.table_comp') %></th>
				    <th><%= t('.table_time') %></th>
				    <th><%= t('.table_diff') %></th>
				    <th><%= t('.table_observation') %></th>
				  </tr>
			  </thead>

				<tbody>
					<!-- Competition results tr -->
					<% if @competition_results.size > 0 %>					
						<% @competition_results.each do |res| %>
							<tr>
								<td><%= link_to "#{res.swimmer.swimmer_secname_name}", swimmer_path(res.swimmer) %></td>
								<td><%= res.competition_set.name %></td>
								<td>
									<%= res.time_result %>
									<span id="evolution"><%= increase_decrease_time(res) %></span>
								</td>
								<td><%= "#{res.diff_with_best_result_until_date} s" %></td>
								<td><%= res.is_disqualified? ? "Descalificado" : res.observation %></td>
							</tr>
						<% end %>							
					<% end %>
					<!-- \Competition results tr -->
				</tbody>			
			</table>
		</section>
		<footer>
			<p>Diff. MM: Es el tiempo de diferencia que existe con la mejor marca hasta el momento</p>
		</footer>
	</div>
</article>
<!-- \Results Block -->
<%= link_to 'Ir Atrás', competitions_path, :class => "button right" %>
<br />
