<h4>Quienes nos usan.</h4>

<div class="twelve columns">
	<ul class="partners">
		<li><%= link_to image_tag("theme/partners/1_cnsalinas.gif"), '#' %></li>
		<li><%= link_to image_tag("theme/partners/2_cnmetropole.gif"), '#' %></li>
		<li><%= link_to image_tag("theme/partners/3_cnjescagua.gif"), '#' %></li>
		<li><%= link_to image_tag("theme/partners/2_cnmetropole.gif"), '#' %></li>
		<li><%= link_to image_tag("theme/partners/1_cnsalinas.gif"), '#' %></li>
	</ul>
</div>