<div id="pageinfo">
	<div class="container container-twelve">
		<div class="pagetitle eight columns">
			<h1>Nuestro Equipo</h1><h2>Conoce a sus integrantes</h2>
		</div>
		<div class="pagesnav four columns">
			<div class="breadcrumbs">
				<%= link_to 'Inicio', root_path %> &nbsp;&nbsp;/&nbsp;&nbsp; <%= link_to 'Equipo', '#', :class => "active" %>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div><!-- //pageinfo -->

<div id="content2" class="white">
	<div class="container container-twelve">
		<div class="twelve columns">
			<div class="team-members">
				<div class="ten columns first">

					<div class="member">
						<div class="picture"><%= image_tag "theme/team-member.png" %></div>
						<div class="desc">
							<h2>Roberto Marco</h2>
							<h5>Desarrollador &amp; UX/UI del proyecto</h5>
							<p>Mea regione persecuti ne. Tota suscipiantur duo ne, elitr voluptua conceptam at insolens concludaturque ut mei, eos ex sint patrioque. Movet utinam eos in, ex ius modo tincidunt reprimique. Periculis efficiendi eos te, an vidit eleifend complectitur vim.</p>
							<ul class="social-icons light">
								<li class="skype"><a href="#"></a></li>
								<li class="flickr"><a href="#"></a></li>
								<li class="twitter"><a href="#"></a></li>
								<li class="dribbble"><a href="#"></a></li>
								<li class="facebook"><a href="#"></a></li>
								<li class="googleplus"><a href="#"></a></li>
								<li class="forrest"><a href="#"></a></li>
								<li class="vimeo"><a href="#"></a></li>
							</ul>
						</div>
						<div class="clear"></div>
					</div>

					<div class="member">
						<div class="picture"><%= image_tag "theme/team-member.png" %></div>
						<div class="desc">
							<h2>Borja Rubio</h2>
							<h5>Co-Tutor del proyecto</h5>
							<p>Mea regione persecuti ne. Tota suscipiantur duo ne, elitr voluptua conceptam at insolens concludaturque ut mei, eos ex sint patrioque. Movet utinam eos in, ex ius modo tincidunt reprimique. Periculis efficiendi eos te, an vidit eleifend complectitur vim.</p>
							<ul class="social-icons light">
								<li class="flickr"><a href="#"></a></li>
								<li class="twitter"><a href="#"></a></li>
								<li class="dribbble"><a href="#"></a></li>
								<li class="facebook"><a href="#"></a></li>
								<li class="forrest"><a href="#"></a></li>
							</ul>
						</div>
						<div class="clear"></div>
					</div>

					<div class="member">
						<div class="picture"><%= image_tag "theme/team-member.png" %></div>
						<div class="desc">
							<h2>Enrique Rubio</h2>
							<h5>Tutor del proyecto</h5>
							<p>Mea regione persecuti ne. Tota suscipiantur duo ne, elitr voluptua conceptam at insolens concludaturque ut mei, eos ex sint patrioque. Movet utinam eos in, ex ius modo tincidunt reprimique. Periculis efficiendi eos te, an vidit eleifend complectitur vim.</p>
							<ul class="social-icons light">
								<li class="twitter"><a href="#"></a></li>
								<li class="dribbble"><a href="#"></a></li>
								<li class="facebook"><a href="#"></a></li>
								<li class="googleplus"><a href="#"></a></li>
								<li class="forrest"><a href="#"></a></li>
								<li class="vimeo"><a href="#"></a></li>
							</ul>
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div class="nav two columns last">
					<div class="up"></div>
					<div class="down"></div>
				</div>

				<div class="clear"></div>

			</div><!-- //team-members -->
		</div>
	</div>
</div>

<div id="content" class="container container-twelve">
	<div class="four columns">
		<h4>Our Legacy</h4>
		<p>Placerat qualisque pri no, ei noster feugait sit. possit timeam vel, soleat prodesset in, in meliore convenire. Mundi suscipiantur quo et, eos posse veniam ex. Eos nulla reprehendunt ne, vidit splendide eu qui. At nam unum autem molestiae, exerci graece, vix ea novum sonet graeci due no timeam.</p>
	</div>

	<div class="four columns">
		<h4>What We Do</h4>
		<p>Placerat qualisque pri no, ei noster feugait sit. possit timeam vel, soleat prodesset in, in meliore convenire. Mundi suscipiantur quo et, eos posse veniam ex. Eos nulla reprehendunt ne, vidit splendide eu qui. At nam unum autem molestiae, exerci graece, vix ea novum sonet graeci due no timeam.</p>
	</div>

	<div class="four columns">
		<h4>Our Principles</h4>
		<p>Placerat qualisque pri no, ei noster feugait sit. possit timeam vel, soleat prodesset in, in meliore convenire. Mundi suscipiantur quo et, eos posse veniam ex. Eos nulla reprehendunt ne, vidit splendide eu qui. At nam unum autem molestiae, exerci graece, vix ea novum sonet graeci due no timeam.</p>
	</div>

	<div class="clear"></div>
	<hr />

	<div class="twelve columns">
		<div class="infobox style2">
			<div class="content">
				<h3>Looking for a challenge job with talented people and great environment?</h3>
			</div>
			<div class="action">
				<a href="#" class="button small">WE HIRE</a>
			</div>
		</div>
	</div>

	<div class="clear"></div>
	<hr />

	<%= render "pages/partners" %>

	<div class="clear"></div>

</div><!-- //content -->