<div id="slider">
	<div class="container container-twelve">
		<div class="flexslider twelve columns">
			<ul class="slides">
				<li>
					<div class="content">
						<h1>A Responsive Theme<br />For Creative Agency</h1>
						<h2>Great Multi-Purpose Wordpress Theme</h2>
						<p>Lorem ipsum dolor sit amet, illum debet platonem ne est, bonorum laoreet vis ne. Ad oratio vel eu. At mei consulatu repudiare, sadipscing consectetuer vim ad. Ad summo fabellas mei, cu stet elitr facilisis vis.</p>
						<p><%= link_to "REGISTRATE YA", new_user_registration_path, :class => "button large" %></p>
					</div>
					<div class="image"><%= image_tag "theme/slider-1.png" %></div>
				</li>
				<li>
					<div class="content">
						<h1>A Responsive Theme<br />For Creative Agency</h1>
						<h2>Great Multi-Purpose Wordpress Theme</h2>
						<p>Lorem ipsum dolor sit amet, illum debet platonem ne est, bonorum laoreet vis ne. Ad oratio vel eu. At mei consulatu repudiare, sadipscing consectetuer vim ad. Ad summo fabellas mei, cu stet elitr facilisis vis.</p>
						<p><%= link_to "REGISTRATE YA", new_user_registration_path, :class => "button large" %></p>
					</div>
					<div class="image"><%= image_tag "theme/slider-2.png" %></div>
				</li>
				<li>
					<div class="content">
						<h1>A Responsive Theme<br />For Creative Agency</h1>
						<h2>Great Multi-Purpose Wordpress Theme</h2>
						<p>Lorem ipsum dolor sit amet, illum debet platonem ne est, bonorum laoreet vis ne. Ad oratio vel eu. At mei consulatu repudiare, sadipscing consectetuer vim ad. Ad summo fabellas mei, cu stet elitr facilisis vis.</p>
						<p><%= link_to "REGISTRATE YA", new_user_registration_path, :class => "button large" %></p>
					</div>
					<div class="image">
						<iframe src="http://player.vimeo.com/video/20461921?title=0&amp;byline=0&amp;portrait=0&amp;color=d33c14" width="400" height="230"></iframe>
					</div>
				</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div><!-- //slider -->

<div id="content" class="container container-twelve">
	
	<div class="twelve columns">
		<div class="infobox">
			<div class="content">
				<h3>Fase Beta - Estamos abiertos a recibir sugerencias</h3>
				<h4>Si eres un entrenador y has detectado mejoras no dudes en ponerte en contacto con nosotros.</h4>
			</div>
			<div class="action">
				<%= link_to "CONTACTA", pages_contact_path, :class => "button small" %>
			</div>
		</div>
	</div>

	<div class="clear"></div>

	<div class="feature four columns">
		<h4><span class="dropcap settings"></span>Diseño web adaptativo</h4>
		<p>Se puede acceder a la aplicación desde cualquier dispositivo electrónico con
		conexión a internet: móvil, tablet u ordenador.</p>
	</div>
	
	<div class="feature four columns">
		<h4><span class="dropcap user"></span>Control de nadadores</h4>
		<p>El entrenador podrá insertar en su base de datos todos los nadadores con los
			que cuenta en su plantilla, pudiendo acceder a la ficha de cada uno posteriormente.</p>
	</div>

	<div class="feature four columns">
		<h4><span class="dropcap link"></span>Entrenamientos diarios</h4>
		<p>Servirá al entrenador para calcular al momento el volumen y carga de cada
			sesión planificada durante la temporada.</p>
	</div>

	<hr>
	<div class="feature four columns">
		<h4><span class="dropcap ical"></span>Competiciones y tests</h4>
		<p>Posibilidad de calendarización de una temporada con competiciones y tests que 
			a los que asisten los nadadores.</p>
	</div>

	<div class="feature four columns">
		<h4><span class="dropcap file"></span>Diario de Incidencias</h4>
		<p>La información que se almacena tras cada temporada puede ser analizada para un
			posterior aprendizaje y corrección de errores.</p>
	</div>

	<div class="feature four columns">
		<h4><span class="dropcap sms"></span>Mensajes a nadadores</h4>
		<p>Ya no existe la necesidad de usar aplicaciones de terceros para enviar mensajes a los nadadores. Únicamente entra en su ficha y comunícate.</p>
	</div>
	<hr />
	<div class="clear"></div>

	<div class="twelve columns">
		<h4>Lo que te encontrarás.</h4>
		<div class="post-home three columns first">
			<div class="post-slideshow">
				<ul class="slideshow">
			    <li><%= image_tag "theme/media/post-4-3.jpg" %></li>
			    <li><%= image_tag "theme/media/post-4-3.jpg" %></li>
			    <li><%= image_tag "theme/media/post-1-3.jpg" %></li>
		   	</ul>
			</div>
		</div>

		<div class="post-home three columns">
			<div class="post-slideshow">
				<ul class="slideshow">
			    <li><%= image_tag "theme/media/post-2-3.jpg" %></li>
			    <li><%= image_tag "theme/media/post-4-3.jpg" %></li>
			    <li><%= image_tag "theme/media/post-1-3.jpg" %></li>
		   	</ul>
			</div>
		</div>

		<div class="post-home three columns">
			<div class="post-slideshow">
				<ul class="slideshow">
			    <li><%= image_tag "theme/media/post-1-3.jpg" %></li>
			    <li><%= image_tag "theme/media/post-4-3.jpg" %></li>
			    <li><%= image_tag "theme/media/post-1-3.jpg" %></li>
		   	</ul>
			</div>
		</div>

		<div class="post-home three columns last">
			<div class="post-slideshow">
				<ul class="slideshow">
			    <li><%= image_tag "theme/media/post-3-3.jpg" %></li>
			    <li><%= image_tag "theme/media/post-4-3.jpg" %></li>
			    <li><%= image_tag "theme/media/post-1-3.jpg" %></li>
		   	</ul>
			</div>
		</div>
		
		<div class="clear"></div>
	</div>
	<hr />
	
	<%= render "pages/partners" %>

	<div class="clear"></div>
</div>