<div id="orange-hero">
	<div class="container">
		<div class="row">
			<div class="span12">
				<ul class="breadcrumb">
  					<li><%= link_to 'Inicio', root_path %> <span class="divider">/</span></li>
  					<li class="active">Tour</li>
				</ul>
			</div><!--/span12-->
		</div><!--/row-->
	</div><!--/container-->
</div><!--/orange hero-->

<div id="grey-content" class="grey-inner-headings">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h2>Conoce la Aplicación</h2>
				<p>Queremos enseñarte las principales funcionalidades de la aplicación. <br>Si eres entrenador ¡te invitamos a que te registres para comenzar a usarla desde ya! </p>
			</div><!--/span12-->
		</div><!--/row-->
	</div><!--/container-->
</div><!--/grey content -->

<div id="white-content">
	<div class="container">
		<div class="row">
			<!-- Main content block -->
			<div class="span9">
				<%= image_tag "frontend/full-icon.png", :alt => "full-icon", :class => "img-rounded opacity-fade" %>
				<hr>
				<h4>I think it looks nifty, you should too.</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue. 
				Pellentesque nec lacus elit. Pellentesque convallis nisi ac augue pharetra eu tristique neque consequat. 
				Mauris ornare tempor nulla, vel sagittis diam convallis eget. Ut ultricies ornare dui, ac accumsan diam 
				convallis eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue. 
				Pellentesque nec lacus elit. Pellentesque convallis nisi ac augue pharetra eu tristique neque consequat. 
				Mauris ornare tempor nulla, vel sagittis diam convallis eget. Ut ultricies ornare dui, ac accumsan diam 
				convallis eget.</p>
				
				<h5>Just one last bit to show.</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue. 
				Pellentesque nec lacus elit. Pellentesque convallis nisi ac augue pharetra eu tristique neque consequat. 
				Mauris ornare tempor nulla, vel sagittis diam convallis eget. Ut ultricies ornare dui, ac accumsan diam 
				convallis eget.</p>
				
				<blockquote>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					<small>Someone famous <cite title="Source Title">Source Title</cite></small>
				</blockquote>
				
			</div><!--/span 12-->
			
			<div class="span3">
				<div class="sidebar-wrap">
					<h5>Navegación</h5>
					<ul class="cats">
						<li><%= link_to "Enlace", '#' %></li>
						<li><%= link_to "Enlace", '#' %></li>
						<li><%= link_to "Enlace", '#' %></li>
						<li><%= link_to "Enlace", '#' %></li>
					</ul>
				</div><!--/sidebar wrap-->
				
				<div class="sidebar-wrap">
					<h5>Text Blurb</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue. 
					Pellentesque nec lacus elit.</p>
				</div><!--/sidebar wrap-->
				
			</div><!--/span3-->
			
		</div><!--/row-->
		
	</div><!--/container-->
	
</div><!--/white content-->