<ul id="breadcrumbs">
	<li><%= link_to 'Dashboard', root_path, :title => "Dashboard" %></li>
	<li><%= link_to t('trainnings.breadcumbs.trainnings'), trainnings_path %></li>
	<li><%= t('trainnings.breadcumbs.trainnings_list') %></li>
</ul>

<div class="clearfix"></div>

<!-- Trainnings Calendar Block -->
<article class="third-quarter-block">
	<div class="article-container">
		
		<header>
			<h2><%= t('.header') %></h2>
			<nav>
				<ul class="button-switch">
					<li><%= link_to 'Añadir entrenamiento', new_trainning_path, :class => 'button' %></li>
				</ul>
			</nav>
		</header>
		
		<section>			
			<div class="third-quarter-reduced">
				<!-- jQuery Full Calendar Plugin -->
				<div class="fullcalendar"></div>
				<!-- /jQuery Full Calendar Plugin -->
				<% content_for :fullcalendar_script do %>
					<script type="text/javascript">
						//jQuery Full Calendar
						//var date = new Date(); // date must be with this format: '2010-10-02'
						//var d = date.getDate();
						//var m = date.getMonth();
						//var y = date.getFullYear();

						$('.fullcalendar').fullCalendar({
							header: {
								left: 'prev,next today',
								center: 'title',
								right: 'month,basicWeek'
							},
							editable: true,
							firstDay: 1,
							events: [
								<% @trainnings.each do |trainning| %>
									{
										title: '<%= "Micro #{trainning.micro.to_s} - Macro #{trainning.macro.to_s} Volumen: #{trainning.volumen} m - Carga: #{trainning.carga}" %>',
										start: '<%= trainning.date_trainning.strftime("%Y/%m/%d") %>',
										allDay: true, 
										url: '<%= trainning_path(trainning) %>'
									},
								<% end %>
							]
						});
					</script>
				<% end %>
			</div>
		</section>
		
	</div>
</article>
<!-- \Trainnings Calendar Block -->

<!-- Trainnings Basic Stats Block -->
<article class="quarter-block clearrm">
	<div class="article-container">
		
		<header>
			<h2><%= t('.header_basic_information') %></h2>
		</header>
		
		<section>
			<ul class="stats-summary">
				<li>
					<strong class="stats-count"><%= last_macro_volumen %></strong>
					<p><%= t('.vol_current_macro') %> (<%= max_macro = current_user.trainnings.max_macro || "0" %>)</p>
				</li>
				
				<li>
					<strong class="stats-count"><%= last_macro_carga %></strong>
					<p><%= t('.car_current_macro') %> (<%= max_macro %>)</p>
				</li>
			</ul>
			<br />
			<%= t('.about_mujika_1_html') %>
			<%= t('.about_mujika_2_html') %>

			<ul class="list-style-checkmark"> 
				<% ExerciseType.all.each do |c| %>
					<li><%= c.description %> (<%= c.mujika %>)</li>
				<% end %>				
			</ul>
		</section>
		
	</div>
</article>
<!-- \Trainnings Basic Stats Block -->

<div class="clearfix"></div>

<article class="full-block">
	<div class="article-container">
		
		<header>
			<h2><%= t('.header_stats') %></h2>
			<nav>
				<ul class="tab-switch">
					<li><a class="default-tab current" href="#tab0">Gráficas Volumen/Carga</a></li>
					<li><a href="#tab1">Otra información</a></li>
				</ul>
			</nav>
		</header>
		
		<section>

			<div class="tab default-tab" id="tab0">
				<div id="orders_chart" style="height: 500px; min-width: 500px;"></div>
			</div>

			<div class="tab" id="tab1">
				<div id="orders_chart_2" style="height: 500px; min-width: 500px;"></div>
			</div>
		</section>
		
	</div>
</article>

<% content_for :fullcalendar_script do %>
	<script type="text/javascript">
		require("javascripts/charts_script.js");

		// Params
		var data 					= <%= array_date_volumen_carga %>,
				chart_title 	= 'Comparativa Volumen/Carga de los entrenamientos',
				yAxis_title1 	= 'Volumen', 
				yAxis_title2	= 'Carga',
				serie_name1		= 'Volumen',
				serie_name2		= 'Carga'
		
		double_bar_chart(data, chart_title, yAxis_title1, yAxis_title2, serie_name1, serie_name2);

	</script>
<% end %>