<ul id="breadcrumbs">
	<li><%= link_to 'Dashboard', root_path, :title => "Dashboard" %></li>
	<li><%= link_to 'Entrenamientos', trainnings_path %></li>
	<li>Id <%= @trainning.id %></li>
</ul>

<!-- Trainning Information Block -->
<article class="third-quarter-block">
	<div class="article-container">
		
		<header>
			<h2><%= "[#{@trainning.date_trainning.strftime('%d/%m/%Y')}] " + "Micro " + @trainning.micro.to_s + " del Macro " + @trainning.macro.to_s %></h2>
			<nav>
				<ul class="button-switch">
					<li><%= link_to 'Eliminar', trainning_path(@trainning), :confirm => '¿Está seguro de que desea eliminar el entrenamiento?', :method => :delete, :class => "button gray" %></li>
					<li><%= link_to 'Editar', edit_trainning_path(@trainning), :class => "button" %></li>
				</ul>
			</nav>
		</header>
		
		<section>
			
				<table class="trainning_table">
					<thead>
						<tr>
							<th>Ejercicio</th>
							<th>Contenido</th>
							<th>Tipo</th>
							<th>Volumen</th>
						</tr>
					</thead>
					
					<tbody>
						<% i=1 %>						
						<% @trainning_exercises.each do |ex| %>
						<tr>
							<td>Ejercicio <%= i %></td>
							<td class="text_left table_content">
								<%= link_to "#{ex.repetition} x (#{ex.heat} x #{ex.distance} #{ex.style})", '#' %>
								<br />
								<%= ex.observation %>
							</td>
							<td><span class='tag tag2 <%= ex.exercise_type.color %>'><%= ex.exercise_type.name %></span></td>
							<td><%= ex.volumen %> m.</td>
						</tr>
						<% i+=1 %>						
						<% end %>
						<tr class="table_results">
							<td class="text_right" colspan="3"><strong>Volumen total del entreno</strong></td>
							<td><strong><%= @trainning.volumen %> m.</strong></td>
						</tr>						
					</tbody>
					
				</table>
		</section>
		
	</div>
</article>
<!-- \Trainning Information Block -->

<article class="quarter-block nested clearrm">
	<div class="article-container">
		<header>
			<h2>Acciones</h2>
		</header>
		
		<section class="actions">
			<!-- Stats Summary -->
			<ul class="left">
				<li><span class="extension empty">Imprimir</span></li>
				<li><span class="extension pdf">Exportar a PDF</span></li>
				<li><span class="extension access">Enviar por email</span></li>
			</ul>
			<!-- /Stats Summary -->
		</section>
	</div>
</article>

<div class="clearfix"></div>