<%= form_for(@swimmer) do |f| %>
  <% if @swimmer.errors.any? %>
    <div id="error_explanation">
			<a href="#" class="close-notification" title="Cerrar notificación" rel="tooltip">x</a>
      <h2><%= pluralize(@swimmer.errors.count, "error") %> prohibited this swimmer from being saved:</h2>

      <ul>
      <% @swimmer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset>
		<legend><%= t('swimmers.form.personal_information') %></legend>
		
		<dl>
			<dt><%= f.label :name, "#{Swimmer.human_attribute_name(:name)}*", :rel => "tooltip", :title => "Campo requerido" %></dt>
			<dd><%= f.text_field :name, :class => "medium" %></dd>
			<dt><%= f.label :secname, "#{Swimmer.human_attribute_name(:secname)}*", :rel => "tooltip", :title => "Campo requerido" %></dt>
			<dd><%= f.text_field :secname, :class => "medium" %></dd>
			<dt><%= f.label :genre, "#{Swimmer.human_attribute_name(:genre)}*", :rel => "tooltip", :title => "Campo requerido" %></dt>
			<dd>
				<% if params[:action]=="edit" %>
					<%= f.select :genre, options_for_select(["Masculino", "Femenino"], @swimmer.genre), {:prompt => "Seleccionar "}  %>
				<% else %>
					<%= f.select :genre, options_for_select(["Masculino", "Femenino"]), {:prompt => "Seleccionar "}  %>
				<% end %>				
			</dd>
			<dt><%= f.label :licence, "#{Swimmer.human_attribute_name(:licence)}*", :rel => "tooltip", :title => "Campo requerido" %></dt>
			<dd><%= f.text_field :licence, :class => "small" %></dd>
			
			<!-- Born Field-->
			<dt><%= f.label :born, "#{Swimmer.human_attribute_name(:born)}*", :rel => "tooltip", :title => "Campo requerido" %></dt>
			<dd>
				<% if params[:action]=="edit" %>
					<%= f.text_field :born, :value => @swimmer.born.strftime("%d/%m/%Y"), :class => "datepicker small" %>
				<% else %>
					<%= f.text_field :born, :class => "datepicker small" %>
				<% end %>
			</dd>
			<!-- /Born Field-->
			
			<!-- Category Field -->
			<dt><%= f.label :category, "#{Swimmer.human_attribute_name(:category)}*", :rel => "tooltip", :title => "Campo requerido" %></dt>
			<dd>
				<% if params[:action] == "edit" %>
					<%= f.select :category, options_from_collection_for_select(@categories, "name", "name"), :class => "small"%>
				<% else %>
					<%= f.select :category, options_from_collection_for_select(@categories, "name", "name"), {:prompt => "Seleccionar"}%>
				<% end %>	
			</dd>
			<!-- \Category Field -->
			
			<!-- State Field -->
			<dt><%= f.label :state, "#{Swimmer.human_attribute_name(:state)}*", :rel => "tooltip", :title => "Campo requerido" %></dt>
			<dd>
				<% if params[:action] == "edit" %>
					<%= f.select :state, options_from_collection_for_select(@states, "name", "name") %>
				<% else %>
					<%= f.select :state, options_from_collection_for_select(@states, "name", "name"), {:prompt => "Seleccionar"} %> 
				<% end %>	
				<p><em><%= t('swimmers.form.state_notice') %></em></p>
			</dd>
			<!-- \State Field -->
			
		</dl>
	
	</fieldset>
	
	<fieldset>
		<legend><%= t('swimmers.form.contact_information') %></legend>
		
		<dl>
			<dt><%= f.label :email, "#{Swimmer.human_attribute_name(:email)}*", :rel => "tooltip", :title => "Campo requerido" %></dt>
			<dd><%= f.text_field :email, :class => "medium" %></dd>
			<dt><%= f.label :address %></dt>
			<dd><%= f.text_field :address, :class => "medium" %></dd>
			<dt><%= f.label :postal %></dt>
			<dd><%= f.text_field :postal, :class => "small" %></dd>
			<dt><%= f.label :city %></dt>
			<dd><%= f.text_field :city, :class => "small" %></dd>
		
			<!-- Country Field -->
			<dt><%= f.label :country %></dt>
			<dd>
				<% if params[:action] == "edit" %>
					<%= f.select :country, options_from_collection_for_select(@countries, "name", "name") %>
				<% else %>
					<%= f.select :country, options_from_collection_for_select(@countries, "name", "name"), :include_blank => true %>
				<% end %>
				
			</dd>
			<!-- \Country Field -->
			
			<dt><%= f.label :phone %></dt>
			<dd><%= f.text_field :phone, :class => "small" %></dd>
		</dl>
	</fieldset>
	
	<fieldset>
		<legend>Datos de los padres</legend>
		
		<dl>
			<dt><%= f.label :parentname %></dt>
			<dd><%= f.text_field :parentname, :class => "medium" %></dd>
			<dt><%= f.label :parentemail %><br /></dt>
			<dd><%= f.text_field :parentemail, :class => "medium" %></dd>
			<dt><%= f.label :parentphone %></dt>
			<dd><%= f.text_field :parentphone, :class => "small" %></dd>
		</dl>
	</fieldset>
	
	<fieldset>
		<legend>Otra información</legend>
		
		<dl>
			<dt><%= f.label :disease %></dt>
			<dd>
				<%= f.text_area :disease, :class => "wysiwyg medium" %>
				<p><%= t('swimmers.form.disease_notice') %></p>
			</dd>
			<dt><%= f.label :observation %></dt>
			<dd><%= f.text_area :observation, :class => "wysiwyg medium" %></dd>
		</dl>
		
	</fieldset>
	<div align="center"><%= f.submit 'Enviar', :class => "button" %> ó <%= link_to 'Cancelar', :back %></div>
  
<% end %>

<div id="change_photo">
	<div class="change_photo">
		<%= form_for(@swimmer, :html => {:multipart => true} ) do |f| %>
			<fieldset>
				<legend>Cambiar foto del nadador</legend>
				<dl>
					<dt><%= f.label :photo, "URL" %></dt>
					<dd>
						<%= f.file_field :photo %>
						<p>Tamaño máximo de 2Mb</p>
					</dd>
				</dl>
			</fieldset>
			<div align="center"><%= f.submit "Guardar", :class => "button" %></div>
		<% end %>
	</div>	
</div>
