<ul id="breadcrumbs">
	<li><%= link_to 'Dashboard', root_path, :title => "Dashboard" %></li>
	<li><%= link_to 'Nadadores', swimmers_path %></li>
	<li>Modificar nadador</li>
</ul>

<article class="full-block clearfix">
	<div class="article-container">
		
		<!-- Header  -->
		<header>
			<h2>Modificar nadador - <%= "#{@swimmer.name} #{@swimmer.secname}" %></h2>
		</header>
		<!-- \Header  -->

		<section>
			<%= link_to 'Mostrar nadador', @swimmer, :class => "button right"%>
			<div class="clearfix"></div>
			<%= render 'form' %>
			
		</section>
		
	</div>
</article>