<ul id="breadcrumbs">
	<li><%= link_to 'Dashboard', root_path, :title => "Dashboard" %></li>
	<li><%= link_to 'Nadadores', swimmers_path %></li>
	<li>Ver lista de nadadores</li>
</ul>

<!-- Full Content Block -->
<article class="full-block clearfix">
	
	<!-- Article Container - Listado de nadadores -->
	<div class="article-container">
		
		<!-- Article header -->
		<header>
			<h2>Gestión de nadadores</h2>
			<nav>
				<ul class="button-switch">
					<li><%= link_to 'Añadir nadador', new_swimmer_path, :class => "button" %></li>
				</ul>
			</nav>
		</header>
		<!-- Article header-->
		
		<!-- Article content -->
		<section>
			
			<!-- Sidetabs - Gestión de nadadores -->
			<div class="sidetabs">
				
				<!-- Sidetabs Navigation -->
				<nav class="sidetab-switch">
					<ul>
						<li><a class="default-sidetab" href="#sidetab1">Todos</a></li>
						<li><a href="#sidetab2">Federados</a></li>
						<li><a href="#sidetab3">No Federados</a></li>
						<li><a href="#sidetab4">Bajas</a></li>
					</ul>
					<p>Se muestran los nadadores insertados en el sistema por un entrenador y su equipo técnico.</p>
				</nav>
				<!-- /Sidetabs Navigation -->
				
				<!-- Sidetab1 - Lista todos los nadadores-->
				<div class="sidetab default-sidetab" id="sidetab1">
					<h3>Todos</h3>
					<table class="datatable">
						<thead>
							<tr>
								<th>Apellidos</th>
								<th>Nombre</th>
								<th>Año</th>
								<th>Categoría</th>
								<th>Estado</th>
								<th>Acción</th>
							</tr>
						</thead>
						<tbody>
							<%= render :partial => "swimmer", :collection => @swimmers %>
						</tbody>
					</table>
				</div>
				<!-- /Sidetab1 -->
				
				<div class="sidetab" id="sidetab2">
					<h3>Federados</h3>
					<table class="datatable">
						<thead>
							<tr>
								<th>Apellidos</th>
								<th>Nombre</th>
								<th>Año</th>
								<th>Categoría</th>
								<th>Estado</th>
								<th>Acción</th>
							</tr>
						</thead>
						<tbody>
							<%= render :partial => "swimmer", :collection => @swimmers_fed %>
						</tbody>
					</table>
				</div>
				
				<div class="sidetab" id="sidetab3">
					<h3>No Federados</h3>
					<table class="datatable">
						<thead>
							<tr>
								<th>Apellidos</th>
								<th>Nombre</th>
								<th>Año</th>
								<th>Categoría</th>
								<th>Estado</th>
								<th>Acción</th>
							</tr>
						</thead>
						<tbody>
							<%= render :partial => "swimmer", :collection => @swimmers_nofed %>
						</tbody>
					</table>
				</div>
			
				<div class="sidetab" id="sidetab4">
					<h3>Bajas</h3>
					<table class="datatable">
						<thead>
							<tr>
								<th>Apellidos</th>
								<th>Nombre</th>
								<th>Año</th>
								<th>Categoría</th>
								<th>Estado</th>
								<th>Acción</th>
							</tr>
						</thead>
						<tbody>
							<%= render :partial => "swimmer", :collection => @swimmers_baja %>
						</tbody>
					</table>
				</div>
			</div>
			<!-- /Sidetabs - Gestión de nadadores-->
			
		</section>
		<!-- /Article content -->
				
	</div>
	<!-- /Article Container-->
		
</article>
<!-- /Full Content Block -->

<!-- Full Content Block -->
<article class="full-block clearfix">
	
	<!-- Article Container - Estadísticas-->
	<div class="article-container">
		
		<header>
			<h2>Estadísticas y registros de datos</h2>
			<nav>
				<ul class="tab-switch">
					<li><a href="#tab0" class="default-tab">Gráficas</a></li>
					<li><a href="#tab1">Logs</a></li>
				</ul>
			</nav>			
		</header>
		
		<section>
			<!-- Tab Grafícas de estadísticas de nadadores -->
			<div class="tab default-tab" id="tab0">
				<div class="sidetabs">
					<nav class="sidetab-switch">
						<ul>
							<li><a class="default-sidetab" href="#sidetab1b">Altas por mes</a></li>
							<li><a href="#sidetab2b">Bajas por mes</a></li>
						</ul>
					</nav>
					
					<!-- Gráfica de altas por mes -->
					<div class="sidetab default-sidetab" id="sidetab1b">
						<h3>Altas de nadadores por mes</h3>
						<table class="data" data-chart="line">
							<thead>
								<tr>
									<td></td>
									<th scope="col">food</th>
									<th scope="col">auto</th>
									<th scope="col">household</th>
									<th scope="col">furniture</th>
									<th scope="col">kitchen</th>
									<th scope="col">bath</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">Mary</th>
									<td>190</td>
									<td>160</td>
									<td>40</td>
									<td>120</td>
									<td>30</td>
									<td>70</td>
								</tr>
								<tr>
									<th scope="row">Tom</th>
									<td>3</td>
									<td>40</td>
									<td>30</td>
									<td>45</td>
									<td>35</td>
									<td>49</td>
								</tr>
								<tr>
									<th scope="row">Brad</th>
									<td>10</td>
									<td>180</td>
									<td>10</td>
									<td>85</td>
									<td>25</td>
									<td>79</td>
								</tr>
								<tr>
									<th scope="row">Kate</th>
									<td>40</td>
									<td>80</td>
									<td>90</td>
									<td>25</td>
									<td>15</td>
									<td>119</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- /Gráfica de altas por mes -->
					
					<!-- Gráfica de bajas por mes -->
					<div class="sidetab" id="sidetab2b">
						<h3>Bajas de nadadores por mes</h3>
						<table class="data" data-chart="line">
							<thead>
								<tr>
									<td></td>
									<th scope="col">food</th>
									<th scope="col">auto</th>
									<th scope="col">household</th>
									<th scope="col">furniture</th>
									<th scope="col">kitchen</th>
									<th scope="col">bath</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">Mary</th>
									<td>190</td>
									<td>160</td>
									<td>40</td>
									<td>120</td>
									<td>30</td>
									<td>70</td>
								</tr>
								<tr>
									<th scope="row">Tom</th>
									<td>3</td>
									<td>40</td>
									<td>30</td>
									<td>45</td>
									<td>35</td>
									<td>49</td>
								</tr>
								<tr>
									<th scope="row">Brad</th>
									<td>10</td>
									<td>180</td>
									<td>10</td>
									<td>85</td>
									<td>25</td>
									<td>79</td>
								</tr>
								<tr>
									<th scope="row">Kate</th>
									<td>40</td>
									<td>80</td>
									<td>90</td>
									<td>25</td>
									<td>15</td>
									<td>119</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- /Gráfica de bajas por mes -->
					
				</div>
			</div>	
			<!-- \Tab Grafícas de estadísticas de nadadores -->
			
			<!-- Tab Logs de nadadores -->
			<div class="tab" id="tab1">
				<h3>Última actividad</h3>
				
				<!-- Log de nadadores -->
				<ul class="logs">
					<li class="bomb">
						<span class="logs-timestamp">Oct 21, 2011</span>
						<h4><a class="logs-event" href="#">System Update #112563</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et dignissim metus. Maecenas id augue ac metus tempus aliquam. Sed pharetra placerat est suscipit sagittis. Phasellus aliquam malesuada blandit.</p>
						<em class="logs-meta">Posted by <a href="#">Administrator</a></em>
					</li>
				</ul>
				<!-- \Log de nadadores -->
				
			</div>
			<!-- \Tab Logs de nadadores -->
						
		</section>
		

		
	</div>
	<!-- \Article Container -->
	
</article>
<!-- \Full Content Block -->
