<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @swimmer.name %>
</p>

<p>
  <b>Secname:</b>
  <%= @swimmer.secname %>
</p>

<p>
  <b>Born:</b>
  <%= @swimmer.born %>
</p>

<p>
  <b>Licence:</b>
  <%= @swimmer.licence %>
</p>

<p>
  <b>Email:</b>
  <%= @swimmer.email %>
</p>

<p>
  <b>Address:</b>
  <%= @swimmer.address %>
</p>

<p>
  <b>Postal:</b>
  <%= @swimmer.postal %>
</p>

<p>
  <b>City:</b>
  <%= @swimmer.city_id %>
</p>

<p>
  <b>Country:</b>
  <%= @swimmer.country_id %>
</p>

<p>
  <b>Phone:</b>
  <%= @swimmer.phone %>
</p>

<p>
  <b>Parentname:</b>
  <%= @swimmer.parentname %>
</p>

<p>
  <b>Parentemail:</b>
  <%= @swimmer.parentemail %>
</p>

<p>
  <b>Parentphone:</b>
  <%= @swimmer.parentphone %>
</p>

<p>
  <b>Disease:</b>
  <%= @swimmer.disease %>
</p>

<p>
  <b>Observation:</b>
  <%= @swimmer.observation %>
</p>


<%= link_to 'Edit', edit_swimmer_path(@swimmer) %> |
<%= link_to 'Back', swimmers_path %>
