<ul id="breadcrumbs">
	<li><%= link_to 'Dashboard', root_path, :title => "Dashboard" %></li>
	<li><%= link_to 'Nadadores', swimmers_path %></li>
	<li>Id <%= @swimmer.id %></li>
</ul>

<!-- Information Block -->
<article class="full-block clearfix">
	<div class="article-container">
		
		<!-- Header  -->
		<header>
			<h2>
				Ver nadador - <%= "#{@swimmer.name} #{@swimmer.secname}" %>
			</h2>
			<nav>
				<ul class="button-switch">
					<li><%= link_to 'Añadir nadador', new_swimmer_path, :class => "button" %></li>
					<li><%= link_to 'Eliminar', swimmer_path(@swimmer), :confirm => '¿Está seguro de que desea eliminar al nadador?', :method => :delete, :class => "button gray" %></li>
					<li><%= link_to 'Editar', edit_swimmer_path(@swimmer), :class => "button" %></li>					
				</ul>
			</nav>				
		</header>
		<!-- \Header  -->

		<section>
			<div class="sidetabs">
				<nav class="sidetab-switch">
					<ul>
						<li><%= link_to 'Básico', "#sidetab1", :class => "default-sidetab" %></li>
						<li><%= link_to 'Contacto', "#sidetab2" %></li>
						<li><%= link_to 'Enfermedades', "#sidetab3" %></li>
					</ul>
				</nav>
				
				<div class="sidetab default-sidetab" id="sidetab1">
					<h3>Información personal del nadador</h3>
					<form>
						<fieldset>
							<legend>Datos personales</legend>

							<dl>
								<dt><%= label :name, "Nombre" %></dt>
								<dd class="text"><%= @swimmer.name %></dd>
								<dt><%= label :secname, "Apellidos" %></dt>
								<dd class="text"><%= @swimmer.secname %></dd>
								<dt><%= label :licence, "Licencia" %></dt>
								<dd class="text"><%= @swimmer.licence %></dd>
								<dt><%= label :genre, "Género" %></dt>
								<dd class="text"><%= @swimmer.genre %></dd>
								<dt><%= label :born, "Año nacimiento" %></dt>
								<dd class="text"><%= @swimmer.born.strftime("%d/%m/%Y") %></dd>
								<dt><%= label :category, "Categoría" %></dt>
								<dd class="text"><%= @swimmer.category %></dd>
								<dt><%= label :state, "Estado" %></dt>
								<dd class="text">
									<% case @swimmer.state %>
										<% when "Baja" %>
											<span class='tag tag2 tag_show red'>
										<% when "Federado" %>
											<span class='tag tag2 tag_show green'>
										<% when "No Federado" %>
											<span class='tag tag2 tag_show orange'>
									<% end %>
									<%= @swimmer.state %></span>
								</dd>
							</dl>
						</fieldset>

					</form>
					
				</div>
				
				<div class="sidetab" id="sidetab2">

					<h3>Información de contacto</h3>
					<form>
						<fieldset>
							<legend>Datos de contacto</legend>

							<dl>
								<dt><%= label :email, "Email" %></dt>
								<dd class="text"><%= @swimmer.email %> (<%= link_to 'Enviar email', '#' %>)</dd>
								<dt><%= label :address, "Dirección" %></dt>
								<dd class="text"><%= @swimmer.address %></dd>
								<dt><%= label :postal, "Código Postal" %></dt>
								<dd class="text"><%= @swimmer.postal %></dd>
								<dt><%= label :city, "Ciudad" %></dt>
								<dd class="text"><%= @swimmer.city %></dd>
								<dt><%= label :country, "País" %></dt>
								<dd class="text"><%= @swimmer.country %></dd>
								<dt><%= label :phone, "Teléfono" %></dt>
								<dd class="text"><%= @swimmer.phone %></dd>
							</dl>
						</fieldset>
						
						<fieldset>
							<dl>
								<dt><%= label :parentname, "Nombre Padre/Madre" %></dt>
								<dd class="text"><%= @swimmer.parentname %></dd>
								<dt><%= label :parentemail, "Email Padre/Madre" %></dt>
								<dd class="text">
									<%= @swimmer.parentemail %> (<%= link_to 'Enviar email', '#' %>)
								</dd>
								<dt><%= label :parentphone, "Teléfono Padre/Madre" %></dt>
								<dd class="text"><%= @swimmer.parentphone.nil? ? "-" : @swimmer.parentphone  %></dd>
							</dl>
						</fieldset>
					</form>
					
				</div>
				
				<div class="sidetab" id="sidetab3">
					<h3>Enfermedades y observaciones</h3>
					<form>
						<fieldset>
							<dl>
								<dt><%= label :disease, "Enfermedades" %></dt>
								<dd>
									<textarea rows="5" cols="40" class="wysiwyg large"><%= @swimmer.disease %></textarea>
								</dd>
								<dt><%= label :observation, "Observaciones" %></dt>
								<dd>
									<textarea rows="5" cols="40" class="wysiwyg large"><%= @swimmer.observation %></textarea>
								</dd>
							</dl>
						</fieldset>
					</form>
				</div>
				
			</div>		
			
		</section>
		
	</div>
</article>
<!-- \Information Block -->

<!-- Competition and test results Block -->
<article class="full-block clearfix">
	<div class="article-container">
		
		<header>
			<h2>Competiciones y test</h2>
			<nav>
				<ul class="tab-switch">
					<li><%= link_to 'Competiciones', '#tab1', :class => "default-tab" %></li>
					<li><%= link_to 'Test', '#tab2' %></li>
				</ul>
			</nav>
		</header>
		
		<section>
		
			<!-- Competition tab -->
				<div class="tab default-tab" id="tab1">
					<div class="sidetabs">
						<nav class="sidetab-switch">
							<ul>
								<li><%= link_to 'Resultados', '#sidetab1b', :class => "default-sidetab" %></li>
								<li><%= link_to 'Estadísticas', '#sidetab2b' %></li>
							</ul>
						</nav>
						
						<!-- Competition Results Sidetab -->
						<div class="sidetab default-sidetab" id="sidetab1b">
							<h3>Resultados del nadador en competiciones</h3>
							<table class="datatable">
								<thead>
									<tr>
										<th>Fecha</th>
										<th>Lugar</th>
										<th>Prueba</th>
										<th>Tiempo</th>
										<th>Acción</th>
									</tr>
								</thead>
								<tbody>
									<% if @swimmer.competition_results.size > 0 %>
										<% @swimmer.competition_results.each do |competition_result| %>
											<tr>
												<td><%= competition_result.competition.date_competition.strftime("%d/%m/%Y") %></td>
												<td><%= competition_result.competition.place %></td>
												<td><%= competition_result.competition_set.name %></td>
												<td><%= competition_result.time_result %></td>
												<td><ul class="actions"><li><%= link_to 'ver', competition_path(competition_result.competition), :class => "view", :title => "Ver competición", :rel => "tooltip" %></li></ul></td>
											</tr>
										<% end %>
									<% end %>
								</tbody>
							</table>
						</div>
						<!-- \Competition Results Sidetab -->
						
						<!-- Competition Statistics Sidetab -->
						<div class="sidetab" id="sidetab2b">
							
						</div>
						<!-- \Competition Statistics Sidetab -->
						
					</div>
				</div>
			<!-- \Competition tab -->
			
			<!-- Test tab -->
				<div class="tab" id="tab2">
					<div class="sidetabs">
						<nav class="sidetab-switch">
							<ul>
								<li><%= link_to 'Resultados', '#sidetab3b', :class => "default-sidetab" %></li>
								<li><%= link_to 'Estadísticas', '#sidetab4b' %></li>
							</ul>
						</nav>
						
						<!-- Test Results Sidetab -->
						<div class="sidetab default-sidetab" id="sidetab3b">
							<h3>Resultados del nadador en test preparatorios</h3>
							<table class="datatable">
								<thead>
									<tr>
										<th>Fecha</th>
										<th>Título</th>
										<th>Tipo</th>
										<th>Valor</th>
										<th>Acción</th>
									</tr>
								</thead>
								<tbody>
									<% if @swimmer.trial_results.size > 0 %>
										<% @swimmer.trial_results.each do |trial_result| %>
											<tr>
												<td><%= trial_result.trial.date_trial.strftime("%d/%m/%Y") %></td>
												<td><%= trial_result.trial.title %></td>
												<td><%= trial_result.trial.trial_category.name %></td>
												<td><%= trial_result.trial_value %> <%= "#{trial_result.trial.trial_category.type_value}" %></td>
												<td><ul class="actions"><li><%= link_to 'ver', trial_path(trial_result.trial), :class => "view", :title => "Ver test", :rel => "tooltip" %></li></ul></td>
											</tr>
										<% end %>
									<% end %>
								</tbody>
							</table>
						</div>
						<!-- \Test Results Sidetab -->
						
						<!-- Test Statistics Sidetab -->
						<div class="sidetab" id="sidetab4b">
							
						</div>
						<!-- \Test Statistics Sidetab -->
						
					</div>
				</div>
			<!-- \Test tab -->
		
		</section>
		
	</div>
</article>
<!-- \Competition and test results Block -->

<%= link_to 'Ir Atrás', swimmers_path, :class => "button right" %>
<br />	
