<ul id="breadcrumbs">
	<li><%= link_to 'Dashboard', root_path, :title => "Dashboard" %></li>
	<li><%= link_to 'Nadadores', swimmers_path %></li>
	<li>Ver nadador</li>
</ul>

<article class="full-block clearfix">
	<div class="article-container">
		
		<!-- Header  -->
		<header>
			<h2>
				Ver nadador - <%= "#{@swimmer.name} #{@swimmer.secname}" %>
			</h2>
				<%= link_to 'Editar', @swimmer, :class => "button right"%>
		</header>
		<!-- \Header  -->

		<section>
			<%= link_to 'A침adir nuevo nadador', @swimmer, :class => "button-link right"%>
			
			<div class="clearfix"></div>
			<form>
				<fieldset>
					<legend>Datos personales</legend>

					<dl>
						<dt><%= label :name, "Nombre" %></dt>
						<dd class="text"><%= @swimmer.name %></dd>
						<dt><%= label :secname, "Apellidos" %></dt>
						<dd class="text"><%= @swimmer.secname %></dd>
						<dt><%= label :licence, "Licencia" %></dt>
						<dd class="text"><%= @swimmer.licence %></dd>
						<dt><%= label :born, "A침o nacimiento" %></dt>
						<dd class="text"><%= @swimmer.born %></dd>
					</dl>
				</fieldset>
				
				<fieldset>
					<legend>Datos de contacto</legend>
					
					<dl>
						<dt><%= label :email, "Email" %></dt>
						<dd class="text"><%= @swimmer.email %></dd>
						<dt><%= label :address, "Direcci칩n" %></dt>
						<dd class="text"><%= @swimmer.address %></dd>
						<dt><%= label :postal, "C칩digo Postal" %></dt>
						<dd class="text"><%= @swimmer.postal %></dd>
						<dt><%= label :city_id, "Ciudad" %></dt>
						<dd class="text"><%= @swimmer.city_id %></dd>
					</dl>
				</fieldset>
			</form>
			
			
			
		</section>
		
	</div>
</article>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @swimmer.name %>
</p>

<p>
  <b>Secname:</b>
  <%= @swimmer.secname %>
</p>

<p>
  <b>Born:</b>
  <%= @swimmer.born %>
</p>

<p>
  <b>Licence:</b>
  <%= @swimmer.licence %>
</p>

<p>
  <b>Email:</b>
  <%= @swimmer.email %>
</p>

<p>
  <b>Address:</b>
  <%= @swimmer.address %>
</p>

<p>
  <b>Postal:</b>
  <%= @swimmer.postal %>
</p>

<p>
  <b>City:</b>
  <%= @swimmer.city_id %>
</p>

<p>
  <b>Country:</b>
  <%= @swimmer.country_id %>
</p>

<p>
  <b>Phone:</b>
  <%= @swimmer.phone %>
</p>

<p>
  <b>Parentname:</b>
  <%= @swimmer.parentname %>
</p>

<p>
  <b>Parentemail:</b>
  <%= @swimmer.parentemail %>
</p>

<p>
  <b>Parentphone:</b>
  <%= @swimmer.parentphone %>
</p>

<p>
  <b>Disease:</b>
  <%= @swimmer.disease %>
</p>

<p>
  <b>Observation:</b>
  <%= @swimmer.observation %>
</p>


<%= link_to 'Edit', edit_swimmer_path(@swimmer) %> |
<%= link_to 'Back', swimmers_path %>
