<!-- Sidebar template  -->
<section role="navigation">
	<!-- Header with logo and headline -->
	<header>
		<%= link_to '', root_path, :title => "Back to Homepage" %>
		<h1>Lorem ipsum dolor sit amet!</h1>
	</header>
	
	<!-- User Info -->
	<section id="user-info">
		<img src="/images/sample_user.png" alt="User Avatar">
		<div>
			<a href="#" title="Account Settings and Profile Page">Robert Tester</a>
			<em>Administrator</em>
			<ul>
				<li><a class="button-link" href="#" title="This is my title!" rel="tooltip">view website</a></li>
				<li><%= link_to 'logout', destroy_user_session_path, :method => 'delete',  :class => 'button-link' %></li>
			</ul>
		</div>
	</section>
	<!-- /User Info -->
	
	<!-- Main Navigation -->
	<nav id="main-nav">
		<ul>
			<li><a href="/" title="" class="dashboard no-submenu">Dashboard</a></li> <!-- Use class .no-submenu to open link instead of a sub menu-->
			<!-- Use class .current to open submenu on page load -->
			<li class="current">
				<%= link_to 'Nadadores', swimmers_path, :class => "swimmers no-submenu" %>
				<span title='Tienes <%= @swimmers.nil? ? "0" : @swimmers.size %> nadadores'><%= @swimmers.nil? ? "0" : @swimmers.size %></span>
				<ul>
					<li class="current"><%= link_to 'Añadir nadador', new_swimmer_path %></li>
					<li><a href="#" title="">Modificar nadador</a></li>
					<li><a href="#" title="">Eliminar nadador</a></li>
					<li><a href="#" title="">Imprimir nadadores</a></li>
					<li><a href="#" title="">Ver estadísticas</a></li>
				</ul>
			</li>
			<li>
				<a href="#" title="" class="projects no-submenu">Entrenamientos</a>
				<ul>
					<li><a href="" title="">Añadir planificación</a></li>
					<li><a href="" title="">Añadir entrenamiento</a></li>
					<li><a href="" title="">Modificar entrenamiento</a></li>
					<li><a href="" title="">Eliminar entrenamiento</a></li>
					<li><a href="" title="">Ver estadísticas</a></li>
				</ul>
			</li>
			<li><a href="" title="" class="events">Competiciones</a></li>
			<li><a href="" title="" class="tests">Test preparatorios</a></li>
			<li><a href="" title="" class="articles">Diario de Incidencias</a><span title="You have 47 new tasks">47</span></li>
			<li><a href="" title="" class="settings">Configuración</a></li>
		</ul>
	</nav>
	<!-- /Main Navigation -->
	
	<!-- Sidebar -->
	<section class="sidebar nested"> <!-- Use class .nested for diferent style -->
		<h2>Fase Beta</h2>
		<p>El proyecto está en fase de desarrollo, por lo que los cambios que se pueden ver forman parte de la primera iteración. Se informará a los usuarios cuando se lance la primera release.</p>
	</section>
	<!-- /Sidebar -->	

</section>