<!-- Sidebar template  -->
<section role="navigation">
	<!-- Header with logo and headline -->
	<header>
		<%= link_to '', root_path, :title => "Back to Homepage" %>
		<h1>Lorem ipsum dolor sit amet!</h1>
	</header>
	
	<!-- User Info -->
	<section id="user-info">
		<img src="/images/sample_user.png" alt="User Avatar">
		<div>
			<a href="#" title="Account Settings and Profile Page">Robert Tester</a>
			<em>Administrator</em>
			<ul>
				<li><a class="button-link" href="#" title="¡Web del Club!" rel="tooltip">ver sitio web</a></li>
				<li><%= link_to 'logout', destroy_user_session_path,  :class => 'button-link' %></li>
			</ul>
		</div>
	</section>
	<!-- /User Info -->
	
	<!-- Main Navigation -->
	<nav id="main-nav">
		<ul>
			<!-- Class .no-submenu to open link instead of a sub menu-->
			<!-- Class .current to open submenu on page load -->
			<li <%= params[:controller].eql?("pages")&&params[:action].eql?("dashboard") ? "class='current'" : "" %>>
				<%= link_to 'Dashboard', pages_dashboard_path, :class => "dashboard no-submenu" %>
			</li> 
		
			<!-- Swimmers menu -->
			<li <%= params[:controller].eql?("swimmers") ? "class='current'" : "" %>>
				<%= link_to 'Nadadores', swimmers_path, :class => "swimmers no-submenu" %>
				<span title='Tienes <%= session[:swimmers_size] %> nadadores'><%= session[:swimmers_size] %></span>
			</li>
			<!-- /Swimmers menu -->
			
			<!-- Trainings menu -->
			<li>
				<%= link_to 'Entrenamientos', '#', :class => 'projects' %>
			</li>
			<!-- /Trainings menu -->
			
			<!-- Competitions menu -->
			<li <%= params[:controller].eql?("competitions") ? "class='current'" : "" %>>
				<%= link_to 'Competiciones', competitions_path, :class => 'events no-submenu' %>
				<span title='Tienes <%= session[:competitions_size] %> competiciones'><%= session[:competitions_size] %></span>
			</li>
			<!-- /Competitions menu -->
			
			<!-- Trials menu -->
			<li <%= params[:controller].eql?("trials") ? "class='current'" : "" %>>
				<%= link_to 'Test preparatorios', trials_path, :class => 'tests no-submenu' %>
				<span title='Tienes <%= session[:trials_size] %> tests preparatorios'><%= session[:trials_size] %></span>
			</li>
			<!-- \Trials menu -->
						
			<li><a href="" title="" class="articles">Diario de Incidencias</a></li>
			<li><a href="" title="" class="settings">Configuración</a></li>
		</ul>
	</nav>
	<!-- /Main Navigation -->
	
	<!-- Sidebar -->
	<section class="sidebar nested"> <!-- Use class .nested for diferent style -->
		<h2>Fase Beta</h2>
		<p>El proyecto está en fase de desarrollo, por lo que los cambios que se pueden ver forman parte de la primera iteración. Se informará a los usuarios cuando se lance la primera release.</p>
	</section>
	<!-- /Sidebar -->	

</section>