 <!DOCTYPE html>
<html lang="es">
	<head>
	  <meta charset="utf-8">
	  <title>Quality Swimming - Software Gestión Deportiva para Entrenadores de Natación</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta name="description" content="">
	  <meta name="author" content="">

	  <%= yield :google_maps %>
	  
		<!-- Styles -->
		<%= stylesheet_link_tag "frontend/bootstrap" %>
		<%= stylesheet_link_tag "frontend/bootstrap-responsive" %>
		<%= stylesheet_link_tag "../javascripts/frontend/google-code-prettify/prettify" %>
		<%= stylesheet_link_tag "frontend/font-awesome" %>

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		  <script src="../../../html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<link rel="shortcut icon" href="images/favicon.ico">
	</head>

	<body data-spy="scroll" data-target=".bs-docs-sidebar">

		<div id="social-top">
			<div class="container">
				<ul>
					<li><a href="#"><i class="icon-google-plus-sign icon-large"></i></a></li>
					<li><a href="#"><i class="icon-github-sign icon-large"></i></a></li>
					<li><a href="#"><i class="icon-linkedin-sign icon-large"></i></a></li>
					<li><a href="#"><i class="icon-pinterest-sign icon-large"></i></a></li>
					<li><a href="#"><i class="icon-facebook-sign icon-large"></i></a></li> 
					<li><a href="#"><i class="icon-twitter-sign icon-large"></i></a></li>
				</ul>
			</div><!--/container-->	
		</div><!--/social top-->

	  <!-- Navbar
	  ================================================== -->
		<div class="navbar">
		  <div class="navbar-inner">
		    <div class="container">
		      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>

		      <%= link_to image_tag("frontend/logo.png", :alt => "QuSwimming", :size => "300x22"), root_path, :class => "brand pull-left" %>

		      <div class="nav-collapse collapse">
		        <ul class="nav pull-right">
	            <li <%= "class='active'" if params[:action]=="index" %> ><%= link_to 'Inicio', root_path %></li>
		          <li <%= "class='active'" if params[:action]=="tour" %> ><%= link_to 'Tour', pages_tour_path %></li>
		          <li <%= "class='active'" if params[:action]=="about" %> ><%= link_to 'Equipo', pages_about_path %></li>
		          <li <%= "class='active'" if params[:action]=="contact" %> ><%= link_to 'Contacto', pages_contact_path %></li>
		          <li><%= link_to 'Acceder', new_user_session_path %></li>
		          <li><%= link_to 'Regístrate', new_user_registration_path %></li>
		        </ul>
		      </div>
		    </div>
		  </div>
		</div>

		<%= yield %>

		<div id="footer-meta">
			<div class="container">			
				<div class="row">
					<div class="span6">
						<h5>Sobre el proyecto</h5>
						<p>QualitySwimming nace como idea originaria para un Proyecto Fin de Carrera en la Universidad de Las Palmas de Gran Canaria. El fin principal es el de ayudar a los entrenadores de natación a gestionar sus equipos y a analizar la información que se genera con el paso del tiempo.</p>
						<p>Con el avance de las tecnologías, son cada vez más los que tienen un terminal móvil o un ordenador personal de dimensiones reducidas con el que acceder a la aplicación mediante su conexión a internet. Por ello, se ha ofrecido esta aplicación como servicio online permanente.</p>
					</div><!--/span6-->
					<div class="span3">
						<h5>Twitter</h5>
						<p>Presentación ante Tribunal de ULPGC <br><span class="twitter-time">Hace 2 horas</span></p>
						<p>Necesitamos tus sugerencias para mejorar la aplicación. Ayúdanos a mejorar para que tú también puedas hacerlo. <br><span class="twitter-time">Hace 4 horas</span></p>
						<p>¡Lanzamiento oficial de la aplicación! <br><span class="twitter-time">Hace 12 horas</span></p>	
					</div><!--/span3-->
					<div class="span3">
						<h5>Suscripciones</h5>
						<p>Inscríbete en nuestra lista de suscripciones, con lo que podrás estar al día en cuanto a novedades de la aplicación se refiere.</p>
						<div id="newsletter-signup">
							<form class="form-horizontal">
								<label for="inputEmail"></label>
									<div class="controled">
										<input class="span3" type="text" id="inputName" placeholder="Nombre">
								</div>
								<label for="inputEmail"></label>
									<div class="controled">
										<input class="span3" type="text" id="inputEmail" placeholder="Email">
								</div>
								<button type="submit" class="pull-right orangebtn">Enviar</button>
							</form>
						</div><!--/newsletter signup-->
						
					</div><!--/span3-->		
				</div><!--/row-->
							
			</div><!--/container-->
		</div><!--/footer meta-->

		<div id="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="span12">
						<ul>
							<li><%= link_to "Inicio" %></li>
							<li><%= link_to "Tour" %></li>
							<li><%= link_to "Equipo" %></li>
							<li><%= link_to "Contacto" %></li>
							<li><%= link_to "Acceso" %></li>
							<li><%= link_to "Regístrate" %></li>
						</ul>
						<p>Creative Commons 2012 - <%= link_to 'QuSwimming' %></a>. Todos los derechos reservados.</p>
					</div><!--/span 12-->
				</div><!--/row-->
			</div><!--/container-->
		</div><!--/footer bottom-->

	  <!-- Include Javascripts
	  ================================================== -->
	  <!-- Placed at the end of the document so the pages load faster -->
	  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	  <%= javascript_include_tag 'frontend/jquery' if params[:action]!="contact" %>
	  <%= javascript_include_tag 'rails' %>
	  <%= javascript_include_tag "frontend/google-code-prettify/prettify" %>
	  <%= javascript_include_tag "frontend/bootstrap-transition" %>
	  <%= javascript_include_tag "frontend/bootstrap-alert" %>
	  <%= javascript_include_tag "frontend/bootstrap-modal" %>
	  <%= javascript_include_tag "frontend/bootstrap-dropdown" %>
	  <%= javascript_include_tag "frontend/bootstrap-scrollspy" %>
	  <%= javascript_include_tag "frontend/bootstrap-tab" %>
	  <%= javascript_include_tag "frontend/bootstrap-tooltip" %>
	  <%= javascript_include_tag "frontend/bootstrap-popover" %>
	  <%= javascript_include_tag "frontend/bootstrap-button" %>
	  <%= javascript_include_tag "frontend/bootstrap-collapse" %>
	  <%= javascript_include_tag "frontend/bootstrap-carousel" %>
	  <%= javascript_include_tag "frontend/bootstrap-typeahead" %>
	  <%= javascript_include_tag "frontend/bootstrap-affix" %>
	  <%= javascript_include_tag "frontend/filter" %>
	  <%= javascript_include_tag "frontend/application" %>

	  <%= yield :google_maps_footer %>
    
	</body>
</html>
